<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../tailwind-config/src/output.css" />
  </head>
  <body>
    <div class="min-h-screen flex items-center bg-violet-400">
      <div class="flex-1 max-w-4xl mx-auto p-10 bg-red-400">
        <ul
          class="grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-3 md:gap-8"
        >
          <li class="bg-white rounded-lg shadow-xl"><div class="h-24"></div></li>
          <li class="bg-white rounded-lg shadow-xl"><div class="h-24"></div></li>
          <li class="bg-white rounded-lg shadow-xl"><div class="h-24"></div></li>
          <li class="bg-white rounded-lg shadow-xl"><div class="h-24"></div></li>
          <li class="bg-white rounded-lg shadow-xl"><div class="h-24"></div></li>
        </ul>
      </div>
      <div class="flex-1 max-w-4xl mx-auto p-10 bg-cyan-600">
        <ul class="grid grid-cols-1 gap-8 sm:grid-cols-2 md:grid-cols-4">
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
          <li class="bg-white rounded-lg shadow-xl">
            <div class="h-24"></div>
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
