<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="../tailwind-config/src/output.css" />
  </head>

  <body class="w-screen h-screen">
    <!-- navbar section -->
    <nav class="w-full h-[10%] grid items-center font-thin">
      <ul class="flex justify-end">
        <a class="mr-auto ml-3" href="#">
          <li><img class="" src="" alt="" /></li>
        </a>
        <a class="pr-8 flex items-center" href="#1">
          <li>Home</li>
        </a>
        <a class="pr-8 flex items-center" href="course-page.html">
          <li>Courses</li>
        </a>
        <a class="pr-8 flex items-center" href="#1">
          <li>Tutorial</li>
        </a>
        <a class="pr-8 flex items-center" href="#1">
          <li>Profile</li>
        </a>
      </ul>
    </nav>
    <!-- navbar section closed -->

    <main class="bg-blue-950 h-[90%] flex items-center">
      <section class="w-[70%] relative pl-8 flex justify-center">
        <img
          class="w-[90%] rounded-xl opacity-70"
          src="images/bg-image1.jpeg"
          alt=""
        />
        <div class="absolute top-[35%] left-[10%]">
          <h1 class="text-4xl text-white font-black leading-normal">
            JOIN NOW <span class="block"> START LEARNING TODAY</span>
          </h1>
          <button
            class="bg-white px-7 py-[10px] rounded-3xl font-bold mt-4 hover:bg-indigo-700 hover:text-white"
          >
            Sign in
          </button>
        </div>
      </section>

      <!-- courses section -->
      <section class="w-[30%] h-full">
        <div class="w-[80%] h-[20%] mt-10">
          <h1 class="text-white text-4xl mb-[5%] font-medium">
            Choose what to learn
          </h1>
          <p class="text-white text-lg font-thin mb-8">
            Start learning the best <br />
            Programming languages.
          </p>
          <div class="course-box">
            <a class="h-full flex" href="#1">
              <div class="w-[20%] h-full flex justify-center items-center">
                <img class="w-[60%]" src="icons/python-icon.svg" alt="" />
              </div>
              <div class="w-[80%] h-full flex items-center">
                <p class="text-lg font-thin">Python programming</p>
              </div>
            </a>
          </div>
          <div class="course-box">
            <a class="h-full flex" href="#2">
              <div class="w-[20%] h-full flex justify-center items-center">
                <img class="w-[60%]" src="icons/database-icon.png" alt="" />
              </div>
              <div class="w-[80%] h-full flex items-center">
                <p class="text-lg font-thin">Learn SQL</p>
              </div>
            </a>
          </div>
          <div class="course-box">
            <a class="h-full flex" href="#1">
              <div class="w-[20%] h-full flex justify-center items-center">
                <img class="w-[50%]" src="icons/javascript-icon.svg" alt="" />
              </div>
              <div class="w-[80%] h-full flex items-center">
                <p class="text-lg font-thin">JavaScript</p>
              </div>
            </a>
          </div>
          <div class="course-box">
            <a class="h-full flex" href="#3">
              <div class="w-[20%] h-full flex justify-center items-center">
                <img
                  class="w-[50%] h-auto mt-2"
                  src="icons/html5-icon.svg"
                  alt=""
                />
              </div>
              <div class="w-[80%] h-full flex items-center">
                <p class="text-lg font-thin">Learn HTML</p>
              </div>
            </a>
          </div>
          <div class="course-box hover:h-[50%]">
            <a class="h-full flex" href="course-page.html">
              <div
                class="w-full h-full flex justify-center items-center hover:text-blue-950"
              >
                <p class="flex text-lg">View all courses</p>
                <p class="text-4xl font-extrabold pl-2 pb-3">&#8594;</p>
              </div>
            </a>
          </div>
        </div>
      </section>
      <!-- courses ended -->
    </main>
  </body>
</html>
